/* =================================== */
/* CSS for control sap.ui.rta/Dialogs  */
/* Horizon High Contrast Black theme   */
/* =================================== */

@_sap_ui_rta_Dialogs_BorderDarkColor: var(--sapShell_Background); /* #000 */
@_sap_ui_rta_Dialogs_BorderLightColor: darken(@sapUiSuccessBorder, 25%); /* #4c994c */
@_sap_ui_rta_Dialogs_BorderRadius: var(--sapButton_BorderCornerRadius); /* 0.375rem */
@_sap_ui_rta_Dialogs_BoxShadowColor: fade(@sapUiContentContrastShadowColor, 60%);
@_sap_ui_rta_Dialogs_BoxShadowDarkColor: fade(@sapUiContentContrastShadowColor, 80%);

.sapMDialog.sapUiRTABorder {
	border: 0.25rem solid @_sap_ui_rta_Dialogs_BorderDarkColor;
	border-image: none;
	border-radius: @_sap_ui_rta_Dialogs_BorderRadius;
	outline: 0.25rem dashed @_sap_ui_rta_Dialogs_BorderLightColor; /* 4px */
	outline-offset: -0.188rem;
	box-shadow: 0 0.625rem 4rem 0 @_sap_ui_rta_Dialogs_BoxShadowDarkColor, 0 0 0 0.125rem @_sap_ui_rta_Dialogs_BorderLightColor;
}

.sapUiRtaPopover {

	&.sapMPopover,
	.sapMPopover {
		border: 0.188rem solid @_sap_ui_rta_Dialogs_BorderDarkColor; /* 3px */
		border-image: none;
		border-radius: @_sap_ui_rta_Dialogs_BorderRadius;
		outline: 0.188rem dashed @_sap_ui_rta_Dialogs_BorderLightColor; /* 4px */
		outline-offset: -0.125rem; /* 4px */
		box-shadow: 0 0.25rem 2rem 0 @_sap_ui_rta_Dialogs_BoxShadowColor, 0 0 0 0.125rem @_sap_ui_rta_Dialogs_BorderLightColor;
	}

	&.sapMPopoverArr, .sapMPopoverArr {
		&:after {
			/* Arrow border needs to be solid and smaller than the popover border to avoid visual glitches */
			border: 0.125rem solid @_sap_ui_rta_Dialogs_BorderDarkColor; /* 2px */
			border-image: none;
		}
	}
}