li.sapTntNavLIItemSelected[id$="suppliersItem"] > div.sapTntNavLIItem {
	background: #30914C;
	background: radial-gradient(circle, rgba(48, 145, 76, 1) 0%, rgba(255, 164, 44, 0.79) 66%, rgba(231, 193, 0, 1) 100%);
}

li.sapTntNavLIItemSelected[id$="categoriesItem"] > div.sapTntNavLIItem {
	background: #FF5D17;
	background: linear-gradient(298deg, rgba(255, 93, 23, 1) 0%, rgba(186, 6, 108, 1) 50%, rgba(231, 193, 0, 1) 100%);
}

li.sapTntNavLIItemSelected[id$="productsItem"] > div.sapTntNavLIItem {
	background: #FFA42C;
	background: linear-gradient(141deg, rgba(255, 164, 44, 1) 0%, rgba(231, 101, 0, 1) 50%, rgba(231, 193, 0, 1) 100%);
}

.maxWidth100 {
	max-width: 100%;
}

nav.sapMBreadcrumbs {
	margin: 0 !important;
	padding: 5px;
}

/* Change position to 'static', if not tnt.Toolpage forces 'absolute' with that no OPA5 output is visible*/
.myToolPage{
	position: static !important;
}