/* =================================== */
/* CSS for control sap.ui.ux3/DataSet  */
/* Morning Horizon theme               */
/* =================================== */

.sapUiUx3DS {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3DSToolbar {
	background-color: darken(@sapUiContentForegroundColor, 3);
}