/* ======================================== */
/* CSS for control sap.ui.ux3/ExactBrowser  */
/* Morning Horizon theme                    */
/* ======================================== */

.sapUiUx3ExactBrwsr {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3ExactBrwsrHd {
	height: 22px;
	line-height: 22px;
}