/* ===================================== */
/* CSS for control sap.ui.ux3/ExactArea  */
/* Morning Horizon theme                 */
/* ===================================== */

.sapUiUx3ExactArea {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3ExactArea > .sapUiTb {
	background-color: var(--sapContent_FocusColor);
}

.sapUiUx3ExactAreaTbTitle {
	margin-top: 2px;
}