/* ======================================= */
/* CSS for control sap.ui.commons/MenuBar  */
/* Horizon High Contrast White theme       */
/* ======================================= */

.sapUiMnuBar {
	background-color: var(--sapGroup_ContentBackground);
	border-color: var(--sapContent_ForegroundBorderColor);
	font-size: @sapUiDesktopFontSize;
	font-weight: bold;
}

.sapUiMnuBarDsbl {
	border-color: var(--sapContent_ForegroundBorderColor);
}

.sapUiMnuBarArea {
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}

.sapUiMnuBarItm {
	border: 2px solid transparent;
	padding: 1px 8px 1px 8px;
	margin-right: 2px;
	outline: medium none;
}

.sapUiMnuBarItmDsbl {
	color: var(--sapContent_DisabledTextColor);
}

.sapUiMnuBarItm > span {
	background-image: url('img/menu/trg.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-right: 13px;
	padding-bottom: 2px;
}

.sapUiMnuBarItm.sapUiMnuBarItmDsbl > span {
	background-image: url('img/menu/trg-dis.png');
}

.sapUiMnuBarItm:focus {
	background-color: var(--sapHighlightColor);
}

.sapUiMnuBarItm.sapUiMnuBarItmDsbl:focus {
	background-color: darken(@sapUiGroupContentBackground, 75.3);
}

.sapUiMnuBarOvrFlw::after {
	content: '';
}

.sapUiMnuBarOvrFlw > span {
	background-image: url('img/menu/bar-overflow.gif');
	background-position: center center;
	padding-left: 9px;
}

.sapUiMnuBarItm.sapUiMnuBarOvrFlw {
	padding: 0 0 2px 0;
	top: 0px;
	margin-right: 3px;
}