/* =========================================== */
/* CSS for control sap.ui.commons/MessageList  */
/* Morning Horizon theme                       */
/* =========================================== */

.sapUiMsgList {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
	background-color: lighten(@sapUiContentForegroundColor, 10);
	border-color: var(--sapContent_ForegroundBorderColor);
}