/* =========================================== */
/* CSS for control sap.ui.commons/RichTooltip  */
/* Morning Horizon theme                       */
/* =========================================== */

.sapUiRtt {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
	border: 1px solid var(--sapContent_ForegroundBorderColor);
	background-color: lighten(@sapUiContentForegroundColor, 10);
}

.sapUiRttSep {
	height: 1px;
	background-color: darken(@sapUiContentForegroundColor, 3);
}