/* ============================================== */
/* CSS for control sap.ui.commons/ValueHelpField  */
/* Morning Horizon theme                          */
/* ============================================== */

.sapUiTfCombo {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
}

/* textField icon */
.sapUiTfCombo > .sapUiTfValueHelpIcon {
	height: 16px;
	padding: 2px;
	width: 16px;
}

/* textField icon */
.sapUiTfCombo > .sapUiTfValueHelpRegularIcon:hover,
.sapUiTfCombo > span.sapUiTfValueHelpIcon:hover {
	background-color: var(--sapField_Hover_HelpBackground);
	color: var(--sapContent_ContrastTextColor);
}

.sapUiTfCombo.sapUiTfDsbl > span.sapUiTfValueHelpIcon:hover {
	background-color: transparent;
	color: var(--sapButton_Hover_TextColor);
}

.sapUiTfRo.sapUiTfCombo > .sapUiTfValueHelpIcon {
	visibility: hidden;
}