/* ========================================== */
/* CSS for control sap.ui.commons/MenuButton  */
/* Horizon High Contrast Black theme          */
/* ========================================== */

.sapUiMenuButton {
	font-size: @sapUiDesktopFontSize;
}

.sapUiBtn.sapUiMenuButton {
	padding-right: 0;
	padding-bottom: 1px;
}

.sapUiBtn.sapUiMenuButton > .sapUiBtnIco {
	margin-top: -2px;
}

.sapUiBtn.sapUiMenuButton > .sapUiBtnTxt {
	padding-bottom: 1px;
}

.sapUiMenuButtonIco {
	width: 12px;
	height: 11px;
	background-image: url('img/menubutton/Menu_Regular.png');
}

.sapUiBtnDsbl.sapUiMenuButton > .sapUiMenuButtonIco {
	background-image: url('img/menubutton/Menu_Disabled.png');
}