/* ========================================= */
/* CSS for control sap.ui.ux3/NavigationBar  */
/* Horizon High Contrast Black theme         */
/* ========================================= */

.sapUiUx3NavBar {
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3NavBarBack,
.sapUiUx3NavBarForward {
	width: 16px;
	color: var(--sapLinkColor);
	border: 1px solid var(--sapGroup_ContentBorderColor);
}

.sapUiUx3NavBarItemSel > a {
	color: var(--sapTextColor);
}

.sapUiUx3NavBarOverflowBtn {
	color: var(--sapLinkColor);
	border: 1px solid var(--sapGroup_ContentBorderColor);
}

.sapUiUx3NavBarItem:focus {
	outline: 3px solid var(--sapContent_FocusColor);
}

.sapUiUx3NavBarBack {
	background-image: url('img/navigationbar/facetPrev.png');
}

.sapUiUx3NavBarForward {
	background-image: url('img/navigationbar/facetNext.png');
}