/* =========================================== */
/* CSS for control sap.ui.ux3/NotificationBar  */
/* Horizon High Contrast Black theme           */
/* =========================================== */

.sapUiNotificationBar {
	border-top: 1px solid var(--sapBaseColor);
	border-left: 1px solid var(--sapBaseColor);
	border-right: 1px solid var(--sapBaseColor);
	font-size: @sapUiDesktopFontSize;
}

.sapUiNotifierCallout {
	font-size: @sapUiDesktopFontSize;
}

.sapUiNotifierTitle {
	font-size: @sapUiDesktopFontSize;
}

.sapUiBarToggle {
	border-top: 1px solid var(--sapBaseColor);
	border-left: 1px solid var(--sapBaseColor);
	border-right: 1px solid var(--sapBaseColor);
}

.sapUiNotifierMessageCount {
	background-color: var(--sapHighlightColor);
	border-color: var(--sapBaseColor);
	color: var(--sapBaseColor);
}

.sapUiNotifierMessageCount.sapUiMessage,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageInformation,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageSuccess,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageWarning,
.sapUiNotifierMessageCount.sapUiMessage.sapUiMessageError {
	color: var(--sapBaseColor);
	background-color: var(--sapSelectedColor);
}