/* =================================== */
/* CSS for control sap.f/GridListItem  */
/* Horizon High Contrast White theme   */
/* =================================== */

@_sap_f_GridListItem_HeaderBoxShadow: none;
@_sap_f_GridListItem_HeaderHeight: 2.75rem;
@_sap_f_GridListItem_SelectedBoxShadow: 0 0 0 0.125rem var(--sapList_SelectionBorderColor), var(--sapContent_Shadow0);