/* ================================== */
/* CSS for control sap.f/AvatarGroup  */
/* Morning Horizon theme              */
/* ================================== */

.sapFAvatarGroup {
	padding: 0.125rem;

	.sapFAvatar {
		border: none;
	}

	&:focus {
		box-shadow: 0 0 0 0.125rem var(--sapContent_FocusColor);
		outline: none;
	}

	&.sapFAvatarGroupGroup:focus {
		border-radius: ~"calc(var(--sapUiAvatarGroupButtonInnerHeight) / 2)";
	}

	&.sapFAvatarGroupIndividual {
		overflow: visible;

		.sapFAvatarGroupItem {
			padding: 0.125rem;
			margin: 0.125rem;

			&:hover:not(:active) {
				.sapFAvatar {
					border: 0.0625rem solid var(--sapAvatar_Hover_BorderColor);
				}
			}

			&:active {

				.sapFAvatar {
					border: 0.0625rem solid var(--sapButton_Active_BorderColor);
					background-color: var(--sapButton_Active_Background);

					.sapFAvatarInitialsHolder,
					&.sapFAvatarIcon {
						color: var(--sapButton_Active_TextColor);
					}
				}
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 0.125rem var(--sapContent_FocusColor);
				border-radius: 50%;
			}
		}

		.sapFAvatarGroupMoreButton {
			--button-padding: 0.125rem;
			padding: var(--button-padding);
			margin: 0.125rem;
			height: ~"calc(var(--sapUiAvatarGroupButtonInnerHeight) + 2 * var(--button-padding))";

			&:focus {
				outline: none;
				box-shadow: 0 0 0 0.125rem var(--sapContent_FocusColor);
				border-radius: 50%;

				> .sapMFocusable:not(.sapMBadgeIndicator)::before {
					display: none;
				}
			}
		}
	}

	&.sapFAvatarGroupGroup {

		&:hover:not(:active) {

			.sapFAvatarGroupItem {
				.sapFAvatar {
					border: 0.0625rem solid var(--sapAvatar_Hover_BorderColor);
				}
			}

			.sapFAvatarGroupMoreButton {

				.sapMBtnInner {
					background-color: var(--sapButton_Hover_Background);
					border: 0.0625rem solid var(--sapButton_Hover_BorderColor);

					.sapMBtnContent {
						color: var(--sapButton_Hover_TextColor);
					}
				}
			}
		}

		&:active {

			.sapFAvatarGroupItem {

				.sapFAvatar {
					border: 0.0625rem solid var(--sapButton_Active_BorderColor);
					background-color: var(--sapButton_Active_Background);

					.sapFAvatarInitialsHolder,
					&.sapFAvatarIcon {
						color: var(--sapButton_Active_TextColor);
					}
				}
			}

			.sapFAvatarGroupMoreButton {

				.sapMBtnInner {
					background-color: var(--sapButton_Active_Background);
					border: 0.0625rem solid var(--sapButton_Active_BorderColor);

					.sapMBtnContent {
						color: var(--sapButton_Active_TextColor);
					}
				}
			}
		}
	}
}

.sapFAvatarGroupPopover .sapFCard {
	border-radius: 0;
}

html.sap-desktop .sapFAvatarGroupMoreButton.sapMBtn:focus > .sapMFocusable:not(.sapMBadgeIndicator)::before {
	border-radius: 50%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}