/* ============================================= */
/* CSS for control sap.ui.ux3/DataSetSimpleView  */
/* Horizon High Contrast White theme             */
/* ============================================= */

.sapUiUx3DSSV {
	font-size: @sapUiDesktopFontSize;
}

/* change for matching */
.sapUiUx3DSSVItem:hover {
	background-color: var(--sapHighlightColor);
}

.sapUiUx3DSSVSelected {
	background-color: var(--sapHighlightColor);
}