/* ========================================== */
/* CSS for control sap.ui.commons/MessageBar  */
/* Evening Horizon theme                      */
/* ========================================== */

.sapUiMsgBar {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
	background-color: var(--sapHighlightColor);
}

/* Styling the Icons-Counters container: */
.sapUiMsgBarSums {
	background-color: lighten(@sapUiContentForegroundColor, 10);
	background-image: none;
	border: 1px solid var(--sapContent_ForegroundBorderColor);
}

.sapUiMsgBarOpen .sapUiMsgBarSums {
	background-color: lighten(@sapUiContentForegroundColor, 10);
	background-image: none;
}

.sapUiMsgBarHome:hover {
	background-color: var(--sapHighlightColor);
	border: 1px solid lighten(@sapUiContentForegroundBorderColor, 25);
}