/* ======================================== */
/* CSS for control sap.ui.commons/Splitter  */
/* Evening Horizon theme                    */
/* ======================================== */

.sapUiVerticalSplitterBar {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
	background-color: lighten(@sapUiContentForegroundColor, 5);
	background-image: url(img/splitter/splitter_vert_grip.gif);
}

.sapUiHorizontalSplitterBar {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
	background-color: lighten(@sapUiContentForegroundColor, 5);
	background-image: url(img/splitter/splitter_horiz_grip.gif);
}

.sapUiVSplitterSecondPane:focus,
.sapUiHSplitterSecondPane:focus,
.sapUiVSplitterFirstPane:focus,
.sapUiHSplitterFirstPane:focus {
	outline: var(--sapHighlightColor) dashed 1px;
}

.sapUiVerticalSplitterBar:hover {
	background-color: lighten(@sapUiContentForegroundColor, 5);
	cursor: e-resize;
}

.sapUiHorizontalSplitterBar:hover {
	background-color: lighten(@sapUiContentForegroundColor, 5);
	cursor: n-resize;
}

.sapUiVSBGhost {
	background-image: none;
	background-color: var(--sapHighlightColor);
	cursor: e-resize;
}

.sapUiHSBGhost {
	background-image: none;
	background-color: var(--sapHighlightColor);
	cursor: n-resize;
}