/* ======================================= */
/* CSS for control sap.ui.ux3/ThingViewer  */
/* Evening Horizon theme                   */
/* ======================================= */

.sapUiUx3TV {
	font-family: var(--sapFontFamily);
	font-size: @sapUiDesktopFontSize;
}

.sapUiUx3TVContent {
	background-color: darken(@sapUiContentForegroundColor, 43);
	border: 0;
}

.sapUiUx3TVContentScrollContainer {
	background-color: var(--sapContent_ForegroundColor);
}

.sapUiUx3TVHeader {
	background-color: lighten(@sapUiContentForegroundColor, 10);
}

.sapUiUx3TVFacets {
	border-left: 1px solid lighten(@sapUiContentForegroundBorderColor, 11.6);
	background-color: lighten(@sapUiContentForegroundColor, 10);
}

.sapUiUx3TVFacetBar {
	left: 0;
	right: 0;
}

.sapUiUx3TVIcon {
	border: 0;
	padding: 0;
}

.sapUiUx3TVTitleSecond {
	color: lighten(@sapUiTextTitle, 20);
}

.sapUiUx3TVFacetBar .sapUiUx3NavBarDummyItem {
	padding: 0 5px 0 0;
}

.sapUiUx3TVToolbar {
	background-color: var(--sapToolbar_Background);
	padding: 0;
	height: 40px;
}

.sapUiUx3TVActionBar {
	bottom: 40px;
}

.sapUiUx3TVHeaderContent {
	background-color: lighten(@sapUiContentForegroundColor, 10);
}

.sapUiUx3TVIdentifier {
	color: lighten(@sapUiContentForegroundTextColor, 26.5);
}

.sapUiUx3TVTitle {
	color: var(--sapTextColor);
}

.sapUiUx3TVHRGrey {
	background-color: darken(@sapUiContentForegroundColor, 43);
}

.sapUiUx3TVHRWhite {
	background-color: lighten(@sapUiContentForegroundBorderColor, 11.6);
	height: 1px;
}

.sapUiUx3TVHeaderGroupTitle {
	color: darken(@sapUiGroupTitleTextColor, 6.5);
}

.sapUiUx3TVFacetThingGroupContentTitle {
	color: lighten(@sapUiGroupTitleTextColor, 6.5);
	border-bottom: 1px solid var(--sapGroup_TitleBorderColor);
}

.sapUiUx3TV.sapUiUx3TVNoFrame {
	margin-top: 3px;
}

.sapUiUx3TV.sapUiUx3TVNoFrame > .sapUiUx3TVContent {
	border-width: 0;
}

.sapUiUx3TV.sapUiUx3TVNoFrame > .sapUiUx3TVContent > .sapUiUx3TVToolbar {
	border-color: lighten(@sapUiContentForegroundBorderColor, 25);
}

.sapUiUx3TV.sapUiUx3TVNoFrame > .sapUiUx3TVContent > .sapUiUx3TVFacets {
	border-color: lighten(@sapUiContentForegroundBorderColor, 25);
}