/* ============================================ */
/* CSS for control sap.ui.unified/FileUploader  */
/* Evening Horizon theme                        */
/* ============================================ */

.sapUiFup,
.sapUiFup.sapMBarChild {
	height: var(--sapElement_Height);
}

.sapMFocus.sapMInputBase.sapUiFupButtonOnly .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper) {
	&::before {
		border: 0.125rem solid var(--sapContent_FocusColor);
		border-radius: 0.375rem;
		left: 0.0625rem;
		top: 0.0625rem;
		right: 0.0625rem;
		bottom: 0.0625rem;
	}
}

.sapUiFup .sapMInputBase.sapUiFupButtonOnly .sapMInputBaseContentWrapper {
	margin: 0;
	height: 100%;
	display: inline-flex;
	align-items: center;
}

.sapUiSizeCompact {

	.sapUiFup,
	.sapUiFup.sapMBarChild {
		height: 2rem;
	}

	.sapUiFup .sapMInputBaseContentWrapper {
		height: var(--sapElement_Compact_Height);

		.sapMBtn {
			height: var(--sapElement_Compact_Height);
		}
	}
}

/* increase outline offset */
.sapMIBar-CTX .sapUiFup .sapMBtnInner:focus.sapMFocusable {
	outline-offset: -.125rem;
}

.sapUiFup .sapMBtn:focus {
	outline: none;
}

html.sap-desktop .sapUiFup .sapMFocusable:focus,
html.sap-desktop .sapUiFup .sapMFocusable:active {
	outline: 1px dotted var(--sapContent_FocusColor);
	outline-offset: -1px;
}

.sapMFooter-CTX .sapUiFup .sapMBtnInner:focus.sapMFocusable,
.sapMFooter-CTX .sapUiFup .sapMBtnInner:active.sapMFocusable,
.sapUiFup .sapMBtnInner:active.sapMBtnAccept,
html.sap-desktop .sapUiFup .sapMBtnInner:active.sapMBtnAccept,
.sapUiFup .sapMBtnInner:active.sapMBtnReject,
html.sap-desktop .sapUiFup .sapMBtnInner:active.sapMBtnReject,
.sapUiFup .sapMBtnInner:active.sapMBtnEmphasized,
html.sap-desktop .sapUiFup .sapMBtnInner:active.sapMBtnEmphasized {
	outline-color: var(--sapContent_ContrastFocusColor);
	outline-offset: -.125rem;
}

.sapMFooter-CTX .sapUiFup .sapMBtnInner:active.sapMFocusable {
	background-color: var(--sapButton_Active_Background);
}