# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-and-deploy-application"
  build-and-deploy-application:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v5

    - name: Setup Node.js environment
      uses: actions/setup-node@v6
      with:
        node-version: "24"

    - name: Install the Dependencies
      run: npm ci
      working-directory: ./demo

    - name: Build the Application
      run: npm run build
      working-directory: ./demo/RootComponent

    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v4
      with:
        # Set a generated GITHUB_TOKEN for pushing to the remote branch.
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # Set an input directory for deployment.
        publish_dir: ./demo/RootComponent/dist